body {

  margin: 0;

  background: #111;

  font-family: Arial, sans-serif;

  color: white;

  display: flex;

  justify-content: center;

  align-items: center;

  height: 100vh;

}

.container {
  width: 350px;
}

.card {

  background: #1e1e1e;

  padding: 30px;

  border-radius: 12px;

}

h1 {

  text-align: center;

  color: gold;

  margin-bottom: 20px;

}

input,
select {

  width: 100%;

  padding: 12px;

  margin-bottom: 15px;

  border: none;

  border-radius: 6px;

  background: #2a2a2a;

  color: white;

  box-sizing: border-box;

}

button {

  width: 100%;

  padding: 12px;

  margin-bottom: 10px;

  border: none;

  border-radius: 6px;

  background: gold;

  color: black;

  font-weight: bold;

  cursor: pointer;

}

#message {
  margin-top: 15px;
  text-align: center;
}